@using StudyBuddy.Shared.DTOs
@model StudyBuddy.Shared.Abstractions.IUser?
@inject IHttpClientFactory HttpClientFactory

@{
    ViewBag.Title = "Find a friend!";
    Layout = "_Layout";
}

@{
    var startOfWeek = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek);
    var endOfWeek = startOfWeek.AddDays(7);

    var currentUserIdObject = ViewBag.CurrentUserId;
    var currentUserId = currentUserIdObject != null ? Guid.Parse(currentUserIdObject.ToString()) : Guid.Empty;
    var otherUserId = Model?.Id != null ? Guid.Parse(Model.Id.Value.ToString()) : Guid.Empty;

    var overlapDto = new OverlapDto
    {
        CurrentUserId = currentUserId,
        OtherUserId = otherUserId,
        Start = startOfWeek.ToUniversalTime(),
        End = endOfWeek.ToUniversalTime()
    };

    var httpClient = HttpClientFactory.CreateClient("StudyBuddy.API");

    var responseOverlapDates = await httpClient.PostAsJsonAsync("api/v1/scheduling/overlap", overlapDto);

    var overlapDates = new List<DateTime>();
    if (responseOverlapDates.IsSuccessStatusCode)
    {
        overlapDates = await responseOverlapDates.Content.ReadFromJsonAsync<List<DateTime>>();
    }

    var overlapDays = overlapDates.Select(d => d.DayOfWeek.ToString()).ToList();
}

<div class="text-center">
    <h1 class="display-4">User Profile</h1>

    @if (Model != null)
    {
        var avatarUrl = Model.Traits.AvatarPath.Contains("://")
        ? Model.Traits.AvatarPath
        : Url.Content("~/avatars/" + Model.Traits.AvatarPath);

        var isRequestedMatch = false;
        var isMatched = false;

        if (ViewBag.CurrentUserId != null)
        {
            var responseIsRequestedMatch = await httpClient.GetAsync($"api/v1/matching/is-requested-match/{ViewBag.CurrentUserId.Value}/{Model.Id}");

            if (responseIsRequestedMatch.IsSuccessStatusCode)
            {
                isRequestedMatch = await responseIsRequestedMatch.Content.ReadFromJsonAsync<bool>();
            }

            var responseIsMatched = await httpClient.GetAsync($"api/v1/matching/is-matched/{ViewBag.CurrentUserId.Value}/{Model.Id}");

            if (responseIsMatched.IsSuccessStatusCode)
            {
                isMatched = await responseIsMatched.Content.ReadFromJsonAsync<bool>();
            }
        }

        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2 class="mb-0">@Model.Username</h2>
                    </div>
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="avatar-container" style="background-image: url('@avatarUrl');"></div>
                        <ul class="list-group list-group-flush mt-4">
                            <li class="list-group-item">
                                <strong>Birthday:</strong> @Model.Traits.Birthdate.ToShortDateString()
                            </li>
                            <li class="list-group-item">
                                <strong>Favorite Subject:</strong> @Model.Traits.Subject
                            </li>
                            <li class="list-group-item">
                                <a href="@Url.Action("UserProfile", "Profile", new { id = Model.Id })" class="btn btn-primary mt-3">View Profile</a>
                            </li>
                            @if (overlapDays.Any())
                            {
                                <div class="alert alert-info mt-2 mb-0">
                                    <b>You</b> and <b>@Model.Username</b> are both free to study on @string.Join(", ", overlapDays)!
                                </div>
                            }
                        </ul>
                    </div>
                </div>

                <div class="d-flex justify-content-evenly mt-3">
                    <!-- Button to view the previous profile -->
                    @if (!TempData.ContainsKey("HideGoBackButton") && ViewBag.ViewedFirstProfile == false)
                    {
                        <a href="@Url.Action("PenultimateProfile", "Matching")" class="btn btn-secondary btn-lg mb-2 w-25">
                            <i class="fa-solid fa-arrow-rotate-left fa-lg" style="color: #ffffff;"></i>
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-dark btn-lg mb-2 w-25">
                            <i class="fa-solid fa-arrow-rotate-left fa-lg" style="color: #ffffff;"></i>
                        </a>
                    }
                    <!-- Button for new profile-->
                    @if (!isRequestedMatch && !(isMatched || ViewBag.ShowMatchRequestMessage))
                    {
                        <a href="@Url.Action("RandomProfile", "Matching")" class="btn btn-danger btn-lg mb-2 w-25">
                            <i class="fa-solid fa-xmark fa-xl" style="color: #ffffff;"></i>
                        </a>
                    }
                    else
                    {
                        <!-- Button to view the new random profile -->
                        <a href="@Url.Action("RandomProfile", "Matching")" class="btn btn-danger btn-lg mb-2 w-25" style="color:#ffffff;background-color: #0067ff;border-color: #0d6efd;">
                            New Profile!
                        </a>
                    }

                    @if (ViewBag.CurrentUserId != null && !isMatched && !isRequestedMatch)
                    {
                        var redirectAction = !TempData.ContainsKey("HideGoBackButton") ? "CurrentRandomUserProfile" : "PenultimateProfile";


                        <form id="matchButton" class="btn btn-success btn-lg mb-2 w-25" onclick="submitForm()" method="post" asp-controller="Matching" asp-action="MatchUsers"
                              asp-route-redirectAction=@redirectAction>
                            <input type="hidden" name="currentUser" value="@ViewBag.CurrentUserId" />
                            <input type="hidden" name="otherUser" value="@Model.Id" />

                            <i class="fa-solid fa-check fa-lg" style="color: #ffffff;"></i>
                        </form>


                    }
                    else if ((isRequestedMatch || ViewBag.ShowMatchRequestMessage) && !isMatched)
                    {
                        <div class="btn alert-success btn-lg mb-2 w-25">
                            Request sent!
                        </div>
                    }
                    else if (isMatched)
                    {
                        <div class="alert alert-success mb-2 w-25">
                            Matched!
                        </div>
                    }

                </div>





            </div>
        </div>
    }
    else
    {
        <p>It seems like there are no more users left :(</p>
        <a href="@Url.Action("UltimateProfile", "Matching")" class="btn btn-secondary">Go back!</a>
    }
</div>

<script>
    function submitForm() {
        document.getElementById("matchButton").submit();
    }
</script>
