@model List<StudyBuddy.Abstractions.IUser>
@using StudyBuddy.Extensions;
@using StudyBuddy.Abstractions
@inject IMatchingManager MatchingManager

@{
    ViewBag.Title = "Explore page";
    Layout = "_Layout";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

@*Filter*@
<form method="get" asp-controller="Profile" asp-action="DisplayProfiles" class="form-row container">
    <div class="d-flex">
        <div class="col-md-3">
            <label for="startYear">Start Year:</label>
            <input type="number" class="form-control" id="startYear" name="startYear" min="1900" max="@DateTime.Now.Year" />
        </div>
        <div class="col-md-3" style="margin-left: 10px;">
            <label for="endYear">End Year:</label>
            <input type="number" class="form-control" id="endYear" name="endYear" min="1900" max="@DateTime.Now.Year" />
        </div>
    </div>
    <div class="col-md-3">
        <label for="subject">Subject:</label>
        <select class="form-select" id="subject" name="subject">
            <option value="">All</option>
            <option value="Natural Sciences">Natural Sciences</option>
            <option value="Health Sciences">Health Sciences</option>
            <option value="Engineering & Technology">Engineering & Technology</option>
            <option value="Social Sciences">Social Sciences</option>
            <option value="Humanities">Humanities</option>
            <option value="Business & Management">Business & Management</option>
            <option value="Arts & Design">Arts & Design</option>
            <option value="Mathematical Sciences">Mathematical Sciences</option>
            <option value="Bio Sciences">Bio Sciences</option>
            <option value="Law & Legal Studies">Law & Legal Studies</option>
            <option value="Education">Education</option>
            <option value="Agriculture & Forestry">Agriculture & Forestry</option>
        </select>
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary mt-3">Apply Filters</button>
    </div>
</form>



@foreach (var user in Model)
{
    // Exclude the current user and check if someone is logged in
    if (user.Id != ViewBag.CurrentUserId)
    {
        var possessiveName = user.Name.AddPossessiveSuffix();

        var avatarUrl = user.Traits.AvatarPath.Contains("://")
            ? user.Traits.AvatarPath// It's a link
            : Url.Content("~/avatars/" + user.Traits.AvatarPath);

        var isRequestedMatch = false;
        var isMatched = false;

        if (ViewBag.CurrentUserId != null)
        {
            isRequestedMatch = MatchingManager.IsRequestedMatch(ViewBag.CurrentUserId, user.Id);
            isMatched = MatchingManager.IsMatched(ViewBag.CurrentUserId, user.Id);
        }

        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2 class="mb-0">@possessiveName Profile</h2>
                    </div>
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="avatar-container" style="background-image: url('@avatarUrl');"></div>
                        <ul class="list-group list-group-flush mt-4">
                            <li class="list-group-item">
                                <strong>Birthday:</strong> @user.Traits.Birthdate.ToShortDateString()
                            </li>
                            <li class="list-group-item">
                                <strong>Favorite Subject:</strong> @user.Traits.Subject
                            </li>
                            <li class="list-group-item">
                                <strong>UID:</strong> @user.Id.ToString()
                            </li>
                        </ul>
                    </div>
                    @* Only show the match button if someone is logged in and there is no match between them *@
                    @if (ViewBag.CurrentUserId != null && !isMatched && !isRequestedMatch)
                    {
                        <form method="post" asp-controller="Profile" asp-action="MatchUsers" asp-route-redirectAction="DisplayProfiles">
                            <input type="hidden" name="currentUser" value="@ViewBag.CurrentUserId" />
                            <input type="hidden" name="otherUser" value="@user.Id" />
                            <button type="submit" class="btn btn-success btn-lg mt-2 w-100">Match</button>
                        </form>
                    }
                    @if (isRequestedMatch)
                    {
                        <div class="alert alert-info mt-2 mb-0">
                            Match request sent.
                        </div>
                    }
                    else if (isMatched)
                    {
                        <div class="alert alert-success mt-2 mb-0">
                            Matched with this user.
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}
